/* For all elements */

* {
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

body {
  margin: 0px;
  height: 2000px;
}

/* Main page header */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./assets/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  border: solid black 1px;
}

/* Navigation bar */

nav {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

ul {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
}
/* Navigation image */

#nav-logo {
  width: 95px;
  height: 95px;
  margin-right: 30%;
}

a img {
  width: 100%;
  height: 100%;
  transition: 1s;
}

a img:hover {
  transform: scale(1.1);
}

/* Navigation links */

#nav-link {
  margin-left: 5%;
  width: 10%;
  padding-top: 5%;
}

a p {
  color: white;
  transition: 0.3s;
  text-transform: capitalize;
}

a p:hover {
  text-decoration: underline;
  text-decoration-color: rgb(116, 93, 51);
}

/* Main header */

#header {
  margin-top: 18%;
  border: solid rgba(0.0.1) 1px;
}

/* Main header Image */

#header img {
  width: 300px;
  height: 300px;
  margin-left: 70%;
  margin-top: -10%;
}

/* Main header Text */

#header h2 {
  width: 40%;
  margin-left: 5%;
  margin-top: 10%;
  color: white;
  line-height: 60px;
}

/* Main header Buttons */

#header div {
  width: 40%;
  margin-left: 5%;
  margin-top: -10%;
  display: flex;
  justify-content: space-around;
}

/* Main header hungry-btn */

#hungry-btn {
  border: solid rgb(116, 93, 51) 1px;
  background-color: rgb(116, 93, 51);
  padding: 2px 40px;
}

#hungry-btn p:hover {
  text-decoration: none;
}

#hungry-btn:hover {
  border: solid rgb(189, 170, 101) 1px;
  background-color: rgb(189, 170, 101);
}
/* Main header show-me-more-btn */

#show-me-more-btn {
  border: solid white 1px;
  padding: 2px 40px;
}

#show-me-more-btn p:hover {
  text-decoration: none;
}

#show-me-more-btn:hover {
  border: solid rgb(189, 170, 101) 1px;
  background-color: rgb(189, 170, 101);
}

/* Main */

main {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

/* Main header */
main h2 {
  text-transform: uppercase;
}

/* Main div (for styling)*/

main div {
  border-bottom: solid rgb(116, 93, 51) 2px;
  width: 10%;
  margin-left: 45%;
  text-align: center;
  margin-bottom: 5%;
}

/* Main section */

main section {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  margin-bottom: 2%;
}

main p {
  line-height: 30px;
}

main section article {
  width: 20%;
}

main section article ion-icon {
  height: 50px;
  width: 50px;
  color: rgb(116, 93, 51);
  font-weight: 100;
}

main section article p {
  line-height: 25px;
}

/* Photo gallery */

#photo-gallery {
  height: auto;
  width: 100%;
}

#photo-gallery ul {
  width: 100%;
  margin-top: -2%;
}

#photo-gallery ul li {
  width: 25%;
  height: auto;
  overflow: hidden;
  background-color: black;
}

#photo-gallery ul li img {
  width: 100%;
  height: auto;
  transform: scale(1.1);
  transition: 0.3s;
  opacity: 0.7;
}

#photo-gallery ul li img:hover {
  opacity: 1;
  transform: scale(1.03);
}

/* How it works Section */

#how-it-works {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: rgb(233, 231, 225);
  margin-top: -2%;
}

#underline {
  width: 10%;
  border-bottom: solid rgb(116, 93, 51) 2px;
  margin-left: 45%;
}

/* How it works Main div */

#how-it-works-main {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

/* How it works Main div image */

#how-it-works-main figure {
  height: auto;
  width: 25%;
  margin-right: 25%;
  margin-left: 15%;
}

#how-it-works-main figure img {
  height: 100%;
  width: 100%;
}

/* How it works Main div text */

#how-it-works-main div ul {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 5%;
}

#how-it-works-main div ul li {
  display: flex;
  justify-content: flex-start;
}

#how-it-works-main div li h4 {
  text-decoration: underline;
  text-decoration-color: rgb(116, 93, 51);
  padding-top: 6%;
  margin-right: 5%;
}

#how-it-works-main div li h3 {
  padding-top: 4%;
}

/* How it works list image */

#how-it-works-list ul li img {
  margin-top: 25%;
  margin-right: 10%;
}

/* Section cities */

#cities {
  text-align: center;
  padding-bottom: 3%;
}

/* Section cities div */

#cities-main-div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#cities-main-div article {
  text-align: center;
  width: 22%;
  margin-top: 3%;
}

#cities-main-div article img {
  width: 100%;
  height: auto;
}

#cities-main-div article ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#cities-main-div article ul li {
  display: flex;
  justify-content: flex-start;
}

#cities-main-div article ul li ion-icon {
  margin-top: 6%;
  margin-right: 3%;
  height: 25px;
  width: 25px;
  color: rgb(116, 93, 51);
}

#cities-main-div article ul li h5 {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* Section customers */

#customers {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("./assets/back-customers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 550px;
  width: 100%;
  text-align: center;
  padding-top: 2%;
}

/* Section customers header */

#customers h2 {
  color: white;
}

/* Section customers div */

#customers-main-div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10%;
}

#customers-main-div article {
  width: 30%;
}

#customers-main-div article ul li {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

#customers-main-div article p {
  color: white;
  line-height: 25px;
}

#customers-main-div article ul li img {
  border: solid 1px rgb(116, 93, 51);
  border-radius: 50%;
  height: 80px;
  width: auto;
  margin-right: 7%;
}
#customers-main-div article ul li p {
  color: white;
  margin-top: 12%;
}

/* Section sign up */

#sign-up {
  text-align: center;
  padding-top: 3%;
}

/* Section sign up main div */

#sign-up-main-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 3%;
}

/* Section sign up articles */

#sign-up-main-div article {
  display: flex;
  flex-direction: column;
  width: 25%;
}

#premium-sec-1 {
  border: solid rgb(233, 231, 225) 1px;
  background-color: rgb(233, 231, 225);
  display: flex;
  flex-direction: column;
  width: 100%;
  text-transform: uppercase;
}

#premium-sec-2 {
  margin-top: -5.1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

#premium-sec-2 li {
  display: flex;
  justify-content: flex-start;
}

#premium-sec-2 li ion-icon {
  margin-top: 4%;
  margin-right: 7%;
  height: 30px;
  width: 30px;
  color: rgb(116, 93, 51);
}

#premium-sec-3 {
  width: 100%;
  display: flex;
  justify-content: center;
}

#premium-sec-3 a p {
  color: white;
  border: solid rgb(116, 93, 51) 1px;
  background-color: rgb(116, 93, 51);
  width: 40%;
  margin-left: 30%;
  padding: 10px 5px;
}

#premium-sec-3 a p:hover {
  border: solid rgb(189, 170, 101) 1px;
  background-color: rgb(189, 170, 101);
  text-decoration: none;
}

#pro-sec-1 {
  border: solid rgb(233, 231, 225) 1px;
  background-color: rgb(233, 231, 225);
  display: flex;
  flex-direction: column;
  width: 100%;
  text-transform: uppercase;
}

#pro-sec-2 {
  margin-top: -5.1%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

#pro-sec-2 li {
  display: flex;
  justify-content: flex-start;
}

#pro-sec-2 li ion-icon {
  margin-top: 4%;
  margin-right: 7%;
  height: 30px;
  width: 30px;
  color: rgb(116, 93, 51);
}

#pro-sec-3 {
  width: 100%;
  display: flex;
  justify-content: center;
}

#pro-sec-3 a p {
  color: white;
  border: solid rgb(116, 93, 51) 1px;
  background-color: rgb(116, 93, 51);
  width: 40%;
  margin-left: 30%;
  padding: 10px 5px;
}

#pro-sec-3 a p:hover {
  border: solid rgb(189, 170, 101) 1px;
  background-color: rgb(189, 170, 101);
  text-decoration: none;
}

#starter-sec-1 {
  border: solid rgb(233, 231, 225) 1px;
  background-color: rgb(233, 231, 225);
  flex-direction: column;
  width: 100%;
  padding-bottom: 16%;
  text-transform: uppercase;
}

#starter-sec-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-top: -6%;
}

#starter-sec-2 li {
  display: flex;
  justify-content: flex-start;
}

#starter-sec-2 li ion-icon {
  margin-top: 4%;
  margin-right: 7%;
  height: 30px;
  width: 30px;
  color: rgb(116, 93, 51);
}

#starter-sec-3 {
  width: 100%;
}

#starter-sec-3 a p {
  color: white;
  border: solid rgb(116, 93, 51) 1px;
  background-color: rgb(116, 93, 51);
  width: 40%;
  margin-left: 30%;
  padding: 10px 5px;
}

#starter-sec-3 a p:hover {
  border: solid rgb(189, 170, 101) 1px;
  background-color: rgb(189, 170, 101);
  text-decoration: none;
}

/* Section hear from you */

#hear-from-you {
  width: 100%;
  text-align: center;
  background-color: rgb(233, 231, 225);
  padding-top: 3%;
}

/* Section hear from you form */

form {
  margin-left: 35%;
  width: 40%;
  padding-bottom: 4%;
}

form ul {
  display: flex;
  flex-direction: column;
}

form ul li {
  margin-top: 4%;
  display: flex;
  justify-content: flex-start;
}

#name {
  text-transform: capitalize;
  margin-right: 14%;
}

#email {
  text-transform: capitalize;
  margin-right: 15%;
}

#dropdown {
  text-transform: capitalize;
  margin-right: 3%;
}

#newsletter {
  text-transform: capitalize;
  margin-right: 5%;
}

#drop-us-a-line {
  text-transform: capitalize;
  margin-right: 3%;
  color: black;
}

#submit {
  color: black;
  border: solid rgb(116, 93, 51) 1px;
  background-color: rgb(116, 93, 51);
  padding: 10px 5px;
}

#submit:hover {
  border: solid rgb(189, 170, 101) 1px;
  background-color: rgb(189, 170, 101);
}
/* Footer */

footer {
  text-align: center;
  width: 100%;
  background-color: rgb(43, 41, 32);
  padding-bottom: 3%;
}

footer section {
  display: flex;
  justify-content: space-between;
}

#footer-info {
  display: flex;
  flex-direction: row;
}

#footer-info p {
  margin-left: 3%;
  width: 100px;
  font-size: 13px;
  color: white;
}

#footer-logo {
  display: flex;
  flex-direction: row;
  margin-top: 0.5%;
}

#footer-logo ion-icon {
  margin-right: 10px;
  font-size: 23px;
  color: rgb(189, 170, 101);
}

#footer-para {
  color: white;
}
